@import "tailwindcss";

@theme {
  /* Grayscale */
  --color-grayscale-600: #1b1b1b;
  --color-grayscale-550: #282828;
  --color-grayscale-500: #2d2d2d;
  --color-grayscale-450: #272934;
  --color-grayscale-400: #4e4e4e;
  --color-grayscale-350: #565656;
  --color-grayscale-300: #717171;
  --color-grayscale-200: #f4f4f4;
  --color-grayscale-150: #f9f9f9;
  --color-grayscale-100: #efefff;

  /* Redscale */
  --color-redscale-100: #f65454;

  /* Greenscale */
  --color-greenscale-100: #01b748;

  /* Bluescale */
  --color-bluescale-100: #687af6;
  --color-bluescale-50: #c1d4e4;

  /* Breakpoints */
  --breakpoint-xs: 300px;
  --breakpoint-1xs: 347px;
  --breakpoint-2xs: 398px;
  --breakpoint-3xs: 401px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1500px;
  --breakpoint-1xl: 1700px;
  --breakpoint-3xl: 1900px;
  --breakpoint-4xl: 2300px;
}

.bg-skeleton {
  background: linear-gradient(180deg, #d4d4d4 0%, #eaeaea 51.44%, #d4d4d4 100%);
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: -15px;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 1px solid #efefff;
  border-radius: 4px;
  transition: all 0.2s;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: transparent; /* mantém transparente */
  border-color: #efefff; /* mantém a borda */
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 50%; /* centraliza horizontal */
  top: 50%; /* centraliza vertical */
  width: 8px; /* tamanho do traço do check */
  height: 11px;
  border: solid #282828; /* cor do check */
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg); /* centraliza e rotaciona */
}
